@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body, html {
  background-color: transparent;
  scroll-behavior: smooth;
  background-color: #0a192f;
}

#particles-js {
  position: fixed;
}

.contact_data {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 65vh;
  z-index: 200;
  margin-left: 2vw;
}
.contact_data .vl {
  border-left: 3px solid #64ffda;
  height: 15vh;
  margin-left: 0.9vw;
}
.contact_data svg {
  width: 2vw;
  margin: 1vh 0;
  color: #64ffda;
}

.navbutton-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.navbutton-container .navbutton-grid {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-gap: 1rem;
}
.navbutton-container .navbutton-grid .navbutton {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #64ffda;
  border-radius: 100%;
  pointer-events: all;
  position: relative;
}
.navbutton-container .navbutton-grid .navbutton::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 3px;
  border-radius: 100%;
  background-color: transparent;
  transition: all 250ms ease-in-out;
}
.navbutton-container .navbutton-grid .navbutton:hover::after {
  background-color: #64ffda;
}
.navbutton-container .navbutton-grid .navbutton:focus::after, .navbutton-container .navbutton-grid .navbutton.active::after {
  background-color: #64ffda;
}

nav {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a192f;
}
nav .nav_links:link, nav .nav_links:visited {
  transition: all 250ms ease-in-out;
  color: #64ffda;
  text-decoration: none;
  padding: 1rem 1rem 0.5rem;
  z-index: 100;
}
nav .nav_links:active, nav .nav_links:hover, nav .nav_links:focus {
  border-bottom: 3px solid rgba(100, 255, 218, 0.6);
}
nav .nav_links.active {
  border-bottom: 3px solid #64ffda;
}
nav .nav_links:visited, nav .nav_links:link {
  color: #64ffda;
  text-decoration: none;
}
nav .logo {
  top: 0;
  position: relative;
}
nav .logo img {
  position: absolute;
  width: 30vw;
  left: -1rem;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}

.main_content {
  position: absolute;
  padding: 5vw 12vw 0 12vw;
  pointer-events: none;
}

#acerca_de {
  padding-top: 12vh;
  height: 100vh;
}
#acerca_de .content__main {
  pointer-events: all;
  color: #8892B0;
}
#acerca_de .content__main span {
  color: #64ffda;
  font-size: 1.2rem;
}
#acerca_de .content__main h1 {
  color: #CCD6F6;
  font-size: 4rem;
}
#acerca_de .content__main h2 {
  font-size: 2rem;
}
#acerca_de .content__main p {
  display: inline-flex;
  font-size: 1rem;
  width: 50%;
}
#acerca_de .content_img {
  width: 30vw;
  display: flex;
  position: absolute;
  right: 10vw;
  transform: translateY(-50%);
}
#acerca_de .content_img img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#acerca_de button {
  margin-top: 10vh;
  padding: 1rem;
  font-size: 2rem;
  color: #64ffda;
  border-color: #64ffda;
  border: 1px solid #64ffda;
  background-color: transparent;
  border-radius: 1vw;
  pointer-events: all;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
#acerca_de button:hover {
  transition: all 250ms ease-in-out;
  background-color: #2A4771;
  color: #64ffda;
}

#proyectos {
  height: 100vh;
  position: relative;
  padding-top: 30vh;
  pointer-events: all;
  overflow-x: auto;
  overflow-y: hidden;
}
#proyectos .div1 {
  height: 60%;
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  position: absolute;
  text-align: center;
}
#proyectos .div1 .qentaz_img {
  border-radius: 100%;
  transform: translateY(-50%);
  padding: 2rem;
  background-color: white;
  display: inline-block;
}
#proyectos .div1 .qentaz_img img {
  width: 100px;
  height: 100px;
}
#proyectos .div1 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div1 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div1 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div1 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div2 {
  height: 60%;
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%);
}
#proyectos .div2 .qentaz_img {
  transform: translateY(-50%);
  padding: 2rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div2 .qentaz_img img {
  width: 100px;
  height: 100px;
}
#proyectos .div2 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div2 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div2 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div2 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div3 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: 0;
}
#proyectos .div3 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div3 .qentaz_img img {
  width: 140px;
  height: 100px;
}
#proyectos .div3 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div3 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div3 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div3 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div4 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: -26vw;
}
#proyectos .div4 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: #FF6C02;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div4 .qentaz_img img {
  width: 120px;
  height: 100px;
}
#proyectos .div4 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div4 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div4 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div4 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div5 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: -52vw;
}
#proyectos .div5 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: #B1B7B7;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div5 .qentaz_img img {
  width: 140px;
  height: 140px;
}
#proyectos .div5 .qentaz_content {
  transform: translateY(-50%);
  padding: 1rem;
  position: relative;
}
#proyectos .div5 .qentaz_content h1 {
  font-size: 2.5rem;
  color: #64ffda;
}
#proyectos .div5 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div5 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div6 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: -78vw;
}
#proyectos .div6 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div6 .qentaz_img img {
  width: 120px;
  height: 100px;
}
#proyectos .div6 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div6 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div6 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div6 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div7 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: -104vw;
}
#proyectos .div7 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: #F6F6F7;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div7 .qentaz_img img {
  width: 140px;
  height: 100px;
}
#proyectos .div7 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div7 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div7 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div7 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}
#proyectos .div8 {
  border-radius: 10px;
  background-color: #49305a;
  width: 30%;
  height: 60%;
  position: absolute;
  text-align: center;
  right: -104vw;
}
#proyectos .div8 .qentaz_img {
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: #F6F6F7;
  border-radius: 100%;
  display: inline-block;
}
#proyectos .div8 .qentaz_img img {
  width: 140px;
  height: 100px;
}
#proyectos .div8 .qentaz_content {
  transform: translateY(-30%);
  padding: 1rem;
  position: relative;
}
#proyectos .div8 .qentaz_content h1 {
  font-size: 3rem;
  color: #64ffda;
}
#proyectos .div8 .qentaz_content p {
  color: #CCD6F6;
  text-align: left;
  font-size: 0.9rem;
}
#proyectos .div8 .qentaz_content a {
  position: absolute;
  left: 1rem;
  bottom: 0;
  transform: translateY(50%);
  font-size: 0.8rem;
  color: #64ffda;
  text-decoration: none;
}

#servicios {
  height: 100vh;
  padding-top: 15vh;
}
#servicios .title {
  font-size: 2.5rem;
  color: #64ffda;
  text-align: center;
}
#servicios div {
  pointer-events: all;
  display: flex;
}
#servicios div .webDev_frontEnd {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid yellow;
}
#servicios div .webDev_frontEnd span {
  color: yellow;
}
#servicios div .webDev_frontEnd h1 {
  font-size: 2rem;
  margin: 0.7rem 0;
}
#servicios div .webDev_frontEnd p {
  font-size: 0.9rem;
}
#servicios div .webDev_backEnd {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid yellow;
}
#servicios div .webDev_backEnd span {
  color: yellow;
}
#servicios div .webDev_backEnd h1 {
  font-size: 2rem;
  margin: 0.7rem 0;
}
#servicios div .webDev_backEnd p {
  font-size: 0.9rem;
}
#servicios div .invest_Data {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid rgb(224, 43, 43);
}
#servicios div .invest_Data span {
  color: rgb(224, 43, 43);
}
#servicios div .invest_Data h1 {
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
#servicios div .invest_Data p {
  font-size: 0.9rem;
}
#servicios div .invest_UX {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid rgb(224, 43, 43);
}
#servicios div .invest_UX span {
  color: rgb(224, 43, 43);
}
#servicios div .invest_UX h1 {
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
#servicios div .invest_UX p {
  font-size: 0.9rem;
}
#servicios div .Dise_UI {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid rgb(93, 235, 245);
}
#servicios div .Dise_UI span {
  color: rgb(93, 235, 245);
}
#servicios div .Dise_UI h1 {
  font-size: 1.9rem;
  margin: 0.7rem 0;
}
#servicios div .Dise_UI p {
  font-size: 0.9rem;
}
#servicios div .Dise_video {
  margin: 20px;
  flex-direction: column;
  background-color: #8892B0;
  width: 30%;
  padding: 1rem 1rem;
  border-top: 3px solid rgb(93, 235, 245);
}
#servicios div .Dise_video span {
  color: rgb(93, 235, 245);
}
#servicios div .Dise_video h1 {
  font-size: 1.1rem;
  margin: 0.7rem 0;
}
#servicios div .Dise_video p {
  font-size: 0.9rem;
}

#contacto {
  height: 100vh;
  padding-top: 10vh;
  position: relative;
}
#contacto div {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 2rem 5rem 2rem;
}
#contacto div h1 {
  pointer-events: all;
  color: #64ffda;
  font-size: 3rem;
  padding: 2rem;
}
#contacto div p {
  pointer-events: all;
  color: #CCD6F6;
  font-size: 1.2rem;
}
#contacto button {
  pointer-events: all;
  margin-top: 10vh;
  padding: 1rem;
  font-size: 2rem;
  color: #64ffda;
  border-color: #64ffda;
  border: 1px solid #64ffda;
  background-color: transparent;
  border-radius: 1vw;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  transition: all 250ms ease-in-out;
}
#contacto button:hover {
  transition: all 250ms ease-in-out;
  background-color: #2A4771;
  color: #64ffda;
}/*# sourceMappingURL=style.css.map */